.aui a.danger {
	color: #DA4E2B;
	font-weight: bold;
}

.portlet-body .body_nav a {
	color: #fff;
    background-color: #009ae5;
    padding: 8px;
    border-radius: 5px;
}

.portlet-body .body_nav a:hover {
	color: #fff;
	font-weight: bold;
}